<div class="wrapper mat-elevation-z8">
  <ng-container *ngIf="loading; then spinner else content">
  </ng-container>
</div>

<ng-template #spinner>
  <div style="justify-content: center;display: flex;">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #content>
  <ng-container *ngIf="auth.user | async; then authenticated else guest">
  </ng-container>
</ng-template>



<!-- User NOT logged in -->
<ng-template #guest>
  <h3 class="mat-subheading-2">Привет,
    <strong>Гость</strong>
  </h3>
  <button mat-raised-button color="primary" routerLink="login">
    Вход
  </button>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <h3 class="mat-subheading-2">Привет,
      <strong>{{ user.displayName ? user.displayName : 'noname' }}</strong>
    </h3>
    <img [src]="user.photoURL ? user.photoURL : 'assets/no-avatar.png'" style="width:100%">
    <!--  <p class="mat-body-1">User ID: {{ user.uid }}</p> -->
    <p class="mat-body-1">Роль: {{ user.role ? user.role : 'пользователь' }} </p>
    <p class="mat-body-1" *ngIf="user.favoriteColor">Любимый цвет: {{ user.favoriteColor ? user.favoriteColor : 'не
      выбран' }} </p>
    <p class="mat-body-1" *ngIf="user.phoneNumber">Телефон: {{ user.phoneNumber}} </p>
    <button mat-raised-button color="warn" (click)="auth.signOut()" style="width:200px;">Выход</button>
  </div>
</ng-template>
